.title{
    color: #C00000;	
	font-family: Calibri;
	font-size:28px;
	font-weight: bold;	
}

h1 {
    color: #C00000;	
	font-family: Calibri;
	font-size:21px;
	font-weight: bold;	
}

h2 {
	color: black;	
	font-family: Calibri;		
	font-size:18.5px;
	font-style:italic;	
	font-weight: bold;		
}

h3 {
	color:#818181;	
	font-family: Calibri;
	font-size:18.5px;
	font-weight: bold;	
}

h4 {
	color:#000000;	
	font-family: Calibri;
	font-size:16px;
	font-weight: bold;	
}
.wrap {	/*For table wrapping of cells under div class*/
  width: 700px;
}	
table{
	border-collapse: collapse;
	word-wrap: break-word;	
}
th{
	color:black;
	font-family: Calibri;		
	font-size:14.5px;
	font-weight:bold;
	text-align:left;
	border-right: hidden; 
	border-left: hidden;
	border-top:3px solid #000000;
	border-bottom:3px solid #000000;		
	padding:10px;
}
td{
	color:black;
	font-family: Calibri;		
	font-size:14.5px;
	border-right: hidden; 
	border-left: hidden;
	border-bottom: hidden;
	padding:10px;
	word-wrap: break-word;
}
tr{
	color:black;
	background-color:#EAF2D3;
	font-size:14.5px;
}
tr:nth-child(even) {
	background: #CCC
}
tr:nth-child(odd) {
	background: #FFF
}
p{
	color:black;
	font-family: Calibri;		
	font-size:14.5px;
	max-width:700px;	
}